<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <!-- membuat style -->
    <style>
        .box {
            padding: 10px;
            width: 400px;
            height: 100px;
            text-align: center;
            background-color: #dddddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>

<body>
    <h1>Hello, Vue :)</h1>
    <div id="app">
        <!-- menampilkan data objects, interpolation -->
        <!-- <div v-if="showBooks">
            <p>{{ title }} - {{ author }} - {{ age }}</p>
        </div> -->
        <!-- <button v-on:click="age++">Increase Age</button>
        <button v-on:click="age--">Decrease Age</button>
        <div @click="changeTitle('Oathbringer')">Change book title</div> -->

        <!-- <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else="!showBooks">Show Books</span>
        </button> -->

        <br>

        <div class="box" @mouseover="handleEvent($event, 10)">mouseover</div>
        <div class="box" @mouseleave="handleEvent">mouseleave</div>
        <div class="box" @dblclick="handleEvent">doubleclick</div>
        <div class="box"@mousemove="handleMouseMove">
            Position - x: {{ x }} | y: {{ y }}
        </div>
    </div>
    <script src="./app.js"></script>
</body>

</html>